h1 {
  color: blue;
  font-family: verdana;
  font-size: 300%;
}
p  {
  color: red;
  font-family: courier;
  font-size: 100%;
}
h1 {color: blue;
  font-family: verdana;
  font-size: 300%;
  font-family:"'Lucida Handwriting','Times New Roman','Arial'";
  font-size:75px;
  text-align:center;
  color:white;
  background-color:red;
  border:4px;
  border-style:solid;
  border-color:blue;
}s
